#currency {
    border-radius: 5px;
    width: 250px;
    height: 25px;
}

form {
    padding-top: 100px;
    text-align: center;
}

#result {
    font-style: italic;
    font-size: larger;
    padding-top: 20px;
    text-align: center;
}